#form-country_v2 .typeahead__list {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
 
.project-jquerytypeahead.page-demo .typeahead__list li a {
    position: relative;
}
 
.project-jquerytypeahead.page-demo .result-container {
    position: absolute;
    color: #777;
    top: -1.5em;
}
 
.project-jquerytypeahead.page-demo .typeahead-search li a .flag-chart {
    position: absolute;
    right: 16px;
    top: 10px;
}
 
.flag-chart {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 30px;
    height: 20px;
    line-height: 14px;
    vertical-align: text-top;
    display: inline-block;
    margin: -1px 3px -1px 0;
    background:url(/assets/jquerytypeahead/img/country_v2.png) no-repeat scroll left top transparent;
}
.flag-united-states {
    background-position: -30px top;
}
.flag-united-kingdom {
    background-position: -60px top;
}
.flag-france {
    background-position: -90px top;
}
.flag-germany {
    background-position: -120px top;
}
.flag-denmark {
    background-position: -150px top;
}
.flag-italy {
    background-position: -180px top;
}
.flag-mexico {
    background-position: -210px top;
}
.flag-brazil {
    background-position: -240px top;
}
.flag-canada {
    background-position: -270px top;
}
 
/* MORE FLAGS BELOW */